.bg-cover{
  @extend %bg-cover;
}
.rating--active{
  color: #F2B91B;
}
.list-price{
  color: #999;
  text-decoration: line-through;
}
.text-gray{
  color: #B5B6B6;
}
.headings-color{
  color: $headings-color;
}
a.headings-color:hover{
  color: $primary;
  text-decoration: none;
}
.sticky-scroll-box--fixed{
  position: fixed;
  top: 20px;
  z-index: 999;
}
.fixed-nav{
  background: #FAFAFA;
  border-top: 1px solid #D9D9D9;
  bottom: 0;
  left: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
}
.font-family-base{
  font-family: $font-family-base;
}
