.accordion .card{
  border: none;
}
.accordion .card-header{
  background: none;
  padding: 0;
}
.accordion .card-body{
  padding-left: 0;
  padding-right: 0;
}
.accordion__btn{
  background: none;
  border: none;
  color: $headings-color;
  cursor: pointer;
  font-size: $h3-font-size;
  font-weight: bold;
  padding: 19px 0;
  position: relative;
  text-align: left;
  width: 100%;
}
.accordion .card-header .accordion__btn:after{
  color: $primary;
  content: "\e901";
  font-family: 'icomoon';
  font-size: 12px;
  margin-top: -2px;
  position: absolute;
  right: 20px;
  top: 50%;
}
.accordion .card-header .accordion__btn[aria-expanded="true"]:after{
  color: $headings-color;
  content: "\e900";
}
