.btn{
  font-size: $input-btn-font-size;
  font-weight: bold;
}
.btn-sm{
  font-size: 13px;
  font-weight: normal;
  padding: .3rem .5rem;
}
.btn-secondary,
.btn-fb,
.btn-wc{
  color: white;
}
.btn-fb{
  background: $facebook-color;
}
.btn-wc{
  background: $wechat-color;
}
