body{
  padding-top: 71px;
}
body.home{
  padding-top: 0;
}
.container-wrapper{
  background: white;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
}
.container-bar{
  background: white;
  border: 1px solid #D8D8D8;
}
